.dropdown {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    position: relative;
    text-align: center;
    line-height: 40px;
}

.dropdown ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
    background-color: #ddd;
    color: black;
    width: 100%;
    box-shadow: 1px 1px 3px #333;
}

.dropdown ul li {
    width: 100%;
}

.dropdown ul li:hover {
    background-color: #333;
    color: white;
    cursor: pointer;
}

.dropdown:hover ul {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
}

body {
    padding-top: 50px;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    justify-content: space-between;
}

.navbar {
    color: white;
    display: flex;
}


.dropdown:hover {
    background-color: #333;
    color: white;
}