.d-none {
    display: none;
}

#menu1 {
    position: relative;
}

#menul ul {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    left: 0;
    top: 70px;
    border: 3px solid;
}