* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
section,
nav,
div,
header,
footer,
aside,
main {
    margin: 0;
    padding: 0;
}





.container,
.container-fluid {
    width: 100%;
    margin: 0 auto;
    border: 2px solid red;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}