header,
footer,
aside,
main {
    border: 2px solid black;
}

.container {
    border: 3px solid blue;
    display: flex;
}

header {
    width: 100%;
}

aside {
    width: 20%;
}

main {
    width: 80%;
}

footer {
    width: 100%;
}