.chatroom {
    width: 500px;
    height: 100vh;
    border: 2px solid black;
    overflow: auto;
}

.chat {
    width: 350px;
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
}

.chat:nth-child(odd) {
    border-radius: 0 50px 50px 20px;
    padding-right: 50px;
    justify-self: flex-start;
}

.chat:nth-child(even) {
    border-radius: 50px 0 20px 50px;
    padding-left: 50px;
}

[href$=".pdf"]:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../images/pdf-2127829_960_720.png");
    background-size: 30px 30px;
    vertical-align: middle;
}

[href$=".docx"]:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../images/1485481280-36_78637.png");
    background-size: 30px 30px;
    vertical-align: middle;
}

header {
    height: 200px;
    background-image: url("https://picsum.photos/1000/500");
    background-size: cover;
    color: white;
    padding: 30px;
    text-align: right;
}

section {
    width: 500px;
    height: 300px;
    border: 1px solid black;
}

aside {
    width: 200px;
    border: 1px solid black;
}

main {
    width: calc(100% - 400px);
}

.box {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 100px 0;
    border-color: transparent black transparent transparent;
}