* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

.chat {
    width: 50%;
    position: relative;
    height: 100vh;
    padding: 10px;
}

.chat .message-editor {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}


.message-editor input {
    border-radius: 5px 0 0 5px;
    border-color: blue;
    border-width: 1px;
    padding: 10px;
    height: 50px;
    width: 100%;
}

.message-editor .editor {
    width: calc(100% - 100px);
}

.message-editor #send-btn {
    border-radius: 0 5px 5px 0;
    background-color: blue;
    color: white;
    height: 50px;
    width: 80px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.messages {
    height: calc(100vh - 50px);
    overflow: auto;
}

.message {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

.message.message-you {}

.message.message-other {
    flex-direction: row-reverse;
}

.message-body {
    width: calc(100% - 70px);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(202, 201, 201);
}

.meta-data {
    width: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.avatar {
    width: 40px;
    height: 40px;
}

.time {
    font-size: 10px;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.float-circle {
    border-radius: 50%;
    float: left;
    margin-right: 100px;
}