.container{
    padding:80px 120px;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}



.person:hover {
    border-color: #f1f1f1;
}

body{
    background-color: #FFEE99;
}


@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}