<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <!-- content for about page -->
        <div class="container" id="about">
            <div class="row">
                <h2 class="text-center">世界最先進的面板廠</h2>
                    <div class="col-xs-12">
                        <p>鴻海科技集團（富士康）上月26日宣佈，將在美國投資100億美元（新台幣3055億元）
                           設立1座液晶顯示器（LCD）面板工廠。不過美國總統川普1日忍不住大嘴巴說，
                           鴻海總裁郭台銘私下告訴他，投資可能加碼到300億美元（新台幣9165億元）。

                           川普（Donald Trump）1號下午與女兒伊凡卡（Ivanka Trump）還有中小企業署署長
                           麥克馬洪（Linda McMahon）在白宮接見美國中小企業業主。川普在會中表示，
                           「上星期鴻海說要投資100億美元，郭台銘是我們這個時代最偉大的商人之一，
                           我認為這個金額會是300億美元。他私下（Off the record）告訴我，投資可能加碼
                           到300億美元，你們想想看，300億！不過，他跟我說這不可以公開，我也答應他我
                           不會說。」

                           對於這項消息，鴻海並未正面證實或否認川普公布的投資金額，僅發佈聲明表示，
                           投資威斯康辛州僅是在美國投資計畫第一步，後續其他地點的投資計畫，待定案後
                           盡速對外公佈。他們也非常高興能在美國中心地帶打造世界最先進的面板廠。
                        </p>
                    </div>

            </div>
        </div><!-- end of content -->

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>
</html>
