<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <section name="jumbotron"  >
            <div class="jumbotron text-center">
                <h1>President Trump Presents</h1>
                <p>Trump says Foxconn could triple investment to $30bn</p>
            </div>
        </section>

        <% include ../partials/3columns %>

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>

</html>
