/* 基礎設定 */
* {
    /* 元素的大小 包含到border */
    box-sizing: border-box;
    font-size: 14px;
}

/* 重設所有常用標籤的留白為0 reset css */
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
article,
html,
body,
nav,
header,
main,
footer,
aside,
div {
    /* 元素之間的距離 */
    margin: 0;
    /* 留白 */
    padding: 0;
}

/* 設定容器大小 */
.container {
    width: 800px;
    margin: 0 auto;
}