/* TODO: 主版面的設定  */

header,
main,
footer,
div {
    /* 設定框線 */
}

/* 頁首裡面的圖 取消空白 */

header {
    background-image: url("https://picsum.photos/1000/400?image=1042");
    color: white;
    height: 300px;
}

.container {
    display: flex;
    flex-flow: row nowrap;
}

header,
main {
    text-align: center;
}

.card {
    padding: 3px;
    width: calc(100% / 3);
}

.card img {
    width: 100%;
}

#image-1 {
    float: right;
}

#image-2 {
    float: left;
}

.important {
    color: red;
}