.hidden {
    display: none;
}

.circle {
    border-radius: 50%;
}

.dropzone {
    width: 400px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: white;
    background-color: #444;
    border: 2px solid #222;
}

.dragenter {
    background-color: #ddd;
    color: black;
}