<% for(var count = 1; count <= 4; count++) { %>
    <div class="fh5co-press-item to-animate fadeInUp animated">
        <div class="fh5co-press-img" style="background-image: url(images/img_7.jpg)">
        </div>
        <div class="fh5co-press-text">
            <h3 class="h2 fh5co-press-title">
                <%= product.name %> <span class="fh5co-border"></span></h3>
            <p>
                <%= product.description %>
            </p>
            <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
        </div>
    </div>

    <% } >