@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&subset=chinese-traditional,japanese');

* {
    box-sizing: border-box;
}

/* reset css 取消多餘的空白 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
article,
section,
aside,
nav,
header,
footer,
p {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 73px;
    background-color: #000;
    color: white;
}

header {
    width: 100%;
    height: calc(100vh - 73px);
    background-image: url("https://mobirise.com/extensions/storem4/assets/images/background10.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 66px;
}

.header-content {
    width: 945px;
    height: 233px;
    margin-right: auto;
    margin-left: auto;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 30px;

    text-align: center;
    font-family: 'Noto Sans TC', 'Poppins', sans-serif
}

section {
    border: 5px solid black;
    width: 80%;
    margin: 0 auto;
}

/* section 裡面的 p */
section p {
    margin-bottom: 10px;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 30px;
}

@media screen and (max-width: 420px) {
    .header-content {
        width: 100%;
    }

    header {
        height: 100px;
    }

    .header-content p {
        display: none;
    }

    section {
        width: 100%;
    }
}

@media screen and (min-width: 420.01px) and (max-width: 576px) {

    header {
        background-image: url("https://picsum.photos/1000/500/?image=1001");

        height: 250px;
    }
}