.card {
    position: relative;
}

.card img {
    display: block;
    max-width: 100%;
}

.card:after {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    content: "<div>test</div>";
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    transition: opacity 1s;
}

.card:hover:after {
    opacity: 0;
}