<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="container">
        <p class="text-center text-muted">© Copyright 2017 
            <a href="http://train.csie.ntu.edu.tw/train/?page=course_info.html&courseid=1827">全端開發者</a></p>
    </div>
</footer>
