<form action="./user" method="GET">
    <label for="x">x</label>
    <input type="number" name="x">
    <label for="y">y</label>
    <input type="number" name="y">
    <input type="submit" value="加起來">
</form>