    /*note mixins*/
    
    @mixin transition($arg) {
        transition: $arg;
        -moz-transition: $arg;
        -webkit-transition: $arg;
    }
    
    @mixin border-radius($arg) {
        border-radius: $arg;
        -moz-border-radius: $arg;
        -webkit-border-radius: $arg;
    }
    /* note general */
    
    section {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #fff;
    }
    /* todo 雙數的section背景色要是#fff */
    
    section:nth-child(even) {
        background-color: #fff;
    }
    /* note fonts */
    
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    button {
        font-family: 'Roboto', sans-serif;
        color: #555;
    }
    
    h1 {
        font-size: 35px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    h4 {
        font-size: 20px;
    }
    
    .section-title {
        text-align: center;
        font-weight: 500;
    }
    
    .sub-section-title {
        text-align: center;
        color: #555;
        font-size: 22px;
        font-style: italic;
        font-weight: 300;
    }
    /* note nav */
    /* note header */
    
    header.jumbotron {
        padding-top: 100px;
        padding-bottom: 100px;
        margin-bottom: 0;
        background-image: url('../img/header-bg.jpg');
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    
    header.jumbotron:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 1;
        @include transition(all .5s ease);
    }
    
    header.jumbotron.scroll:after {
        background-color: rgba(0, 0, 0, .1);
    }
    
    .jumbotron-content {
        position: relative;
        z-index: 3;
        text-align: center;
    }
    
    .header-news {
        background: rgba(0, 0, 0, .7);
        padding: 10px 20px;
    }
    
    .header-btn {
        margin-top: 30px;
        text-align: center;
    }
    
    header.jumbotron h1 {
        font-size: 32px;
    }
    
    .jumbotron h1,
    .jumbotron p,
    .jumbotron a {
        color: white;
    }
    /* note subscribeSection */
    
    #subscribeSection {
        background-image: url(../img/cork-repeat-bg.jpg);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    #subscribeSection * {
        color: white;
    }
    
    #subscribeSection .btn {
        height: 50px;
        font-size: 22px;
        letter-spacing: 2px;
    }
    /* note featureSection */
    
    .feature>i.fa {
        font-size: 40px;
        display: block;
        text-align: center;
        color: #253746;
    }
    
    .feature,
    .secondary-feature {
        margin-top: 10px;
    }
    
    .secondary-feature>i.fa {
        font-size: 20px;
        display: block;
        text-align: center;
        color: #253746;
    }
    
    .secondary-feature>h5 {
        text-align: center;
    }
    
    .feature>h3 {
        text-align: center;
    }
    /* note introduceSection */
    /* note portfolioSection */
    
    #portfolioSection {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    #portfolioSection .row {
        margin-left: 0;
        margin-right: 0;
    }
    
    .photo {
        height: 250px;
        text-align: center;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 0;
        padding-right: 0;
        filter: grayscale(100%);
        @include transition(all .5s ease);
    }
    
    .photo h3 {
        color: white;
        font-size: 6px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 0 1px 15px rgba(0, 0, 0, .5);
        line-height: 250px;
        margin-top: 0;
        margin-bottom: 0;
        opacity: 0;
        @include transition(all .5s ease);
    }
    
    .photo:hover {
        filter: grayscale(0%);
        h3 {
            font-size: 50px;
            opacity: 1;
        }
    }
    
    #photo-1 {
        background-image: url('../img/portfolio-1.jpg');
    }
    
    #photo-2 {
        background-image: url('../img/portfolio-2.jpg');
    }
    
    #photo-3 {
        background-image: url('../img/portfolio-3.jpg');
    }
    
    #photo-4 {
        background-image: url('../img/portfolio-4.jpg');
    }
    
    #photo-5 {
        background-image: url('../img/portfolio-5.jpg');
    }
    
    #photo-6 {
        background-image: url('../img/portfolio-6.jpg');
    }
    
    #photo-7 {
        background-image: url('../img/portfolio-7.jpg');
    }
    
    #photo-8 {
        background-image: url('../img/portfolio-8.jpg');
    }
    /* note userReviewSection */
    
    #slideshow .item {
        height: 270px;
    }
    
    .carousel-control.left,
    .carousel-control.right {
        background-image: none;
    }
    
    @media screen and (max-width: 767px) {
        #slideshow .item {
            height: 500px;
        }
        #slideshow .item img {
            width: 120px;
            height: 120px;
            margin: 0 auto;
        }
    }
    /* note footer */
    
    footer {
        padding-top: 30px;
        background-color: #314858;
        color: white;
        text-align: center;
    }
    
    footer * {
        color: white;
    }
    
    .footer-bar {
        width: 100%;
        height: 50px;
        background-color: #22262c;
    }
    
    .footer-bar ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .footer-bar ul>li {
        float: left;
        line-height: 50px;
        margin-right: 10px;
    }
    
    .footer-bar p {
        float: right;
        line-height: 50px;
        margin: 0;
    }
    
    .social-links a {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 8px;
        background-color: rgba(255, 255, 255, 0.3);
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 5px;
        text-align: center;
    }
    
    .social-links a:hover {
        background-color: rgba(255, 255, 255, 1);
    }
    
    .social-links a>i.fa:before {
        line-height: 40px;
        color: #314858;
    }
    
    #map {
        width: 100%;
        height: 400px;
        background: #eee;
    }
    
    #goBack {
        width: 80px;
        height: 80px;
        background: aqua;
        color: white;
        position: fixed;
        bottom: 5px;
        right: 5px;
        @include border-radius(50%);
        &:focus {
            outline: none;
        }
    }
