* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

.iphone {
    width: 312px;
    height: 629px;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: -45px;
    background-position-y: -10px;
    border: 2px solid black;
    border-radius: 44px;
    position: relative;

}

.screen {
    width: 276px;
    height: 485px;
    background-image: url("../screen.png");
    background-size: cover;
    position: absolute;
    top: 67px;
    left: 16px;
}

.home {
    position: absolute;
    top: 565px;
    left: 134px;
    width: 41px;
    height: 41px;
    border: 2px solid grey;
    border-radius: 50%;
}