.chatroom {
    width: 400px;
    height: 400px;
    border: 2px solid;
    padding: 10px;
    overflow: auto;
}

.chat {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 0;
    border-radius: 50%;
    background-image: url("https://cdn.bulbagarden.net/upload/thumb/2/21/001Bulbasaur.png/250px-001Bulbasaur.png");
    background-size: cover;

}

.you .avatar {
    margin-right: 0;
    margin-left: 10px;
    background-image: url("https://target.scene7.com/is/image/Target/GUEST_4f4b52a7-02d6-433c-b94e-1c66ccf4d2d1?wid=488&hei=488&fmt=pjpeg");
}

.message {
    width: calc(100% - 120px);
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
}

.you {
    flex-direction: row-reverse;
}