* {
    box-sizing: border-box;
}

html,
body,
header,
h1,
h3,
p,
nav,
.navbar ul {
    /* 取消留白與邊界 */
    padding: 0;
    margin: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
    /* border: 3px solid black; */
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* col          裡面的img 寬度 最大就是 100% */

[class^="col-"] img {
    max-width: 100%;
}

.col-1 {
    width: calc(100% * 1 / 12);
}

.col-2 {
    width: calc(100% * 2 / 12);
}

.col-3 {
    width: calc(100% * 3 / 12);
}

.col-4 {
    width: calc(100% * 4 / 12);
}

.col-5 {
    width: calc(100% * 5 / 12);
}

.col-6 {
    width: calc(100% * 6 / 12);
}

.col-7 {
    width: calc(100% * 7 / 12);
}

.col-8 {
    width: calc(100% * 8 / 12);
}

.col-9 {
    width: calc(100% * 9 / 12);
}

.col-10 {
    width: calc(100% * 10 / 12);
}

.col-11 {
    width: calc(100% * 11 / 12);
}

.col-12 {
    width: calc(100% * 12 / 12);
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    [class^="col-"] {
        width: 100%;
    }
}