* {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
article,
section,
p,
header,
footer,
nav,
aside {
    margin: 0;
    padding: 0;
}

.container-fluid {
    width: 100%;
}

.container {
    margin: 0 auto;
}

@media screen and (max-width: 575.99px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.99px) {
    .container {
        width: 540px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.99px) {
    .container {
        width: 720px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        width: 1152px;
    }
}