article h1 {
    color: blue;
}

article p {
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

article h1~p {
    font-weight: bold;
    color: red;
}

.red {
    color: red;
}

nav li ul {
    display: none;
}

nav li:hover>ul {
    display: block;
}