* {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
article,
section,
aside,
nav,
header,
footer {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.container-fluid,
.container {
    margin: 0 auto;
    width: 100%;
}


[class^="col-"] {
    padding: 15px;
    width: 100%;
}

@media screen and (max-width: 575.98px) {

    .container {
        width: 100%;
    }

    .col-xs-1 {
        width: calc(100% * 1 / 12);
    }

    .col-xs-2 {
        width: calc(100% * 2 / 12);
    }

    .col-xs-3 {
        width: calc(100% * 3 / 12);
    }

    .col-xs-4 {
        width: calc(100% * 4 / 12);
    }

    .col-xs-5 {
        width: calc(100% * 5 / 12);
    }

    .col-xs-6 {
        width: calc(100% * 6 / 12);
    }

    .col-xs-7 {
        width: calc(100% * 7 / 12);
    }

    .col-xs-8 {
        width: calc(100% * 8 / 12);
    }

    .col-xs-9 {
        width: calc(100% * 9 / 12);
    }

    .col-xs-10 {
        width: calc(100% * 10 / 12);
    }

    .col-xs-11 {
        width: calc(100% * 11 / 12);
    }

    .col-xs-12 {
        width: calc(100% * 12 / 12);
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .container {
        width: 540px;
    }

    .col-sm-1 {
        width: calc(100% * 1 / 12);
    }

    .col-sm-2 {
        width: calc(100% * 2 / 12);
    }

    .col-sm-3 {
        width: calc(100% * 3 / 12);
    }

    .col-sm-4 {
        width: calc(100% * 4 / 12);
    }

    .col-sm-5 {
        width: calc(100% * 5 / 12);
    }

    .col-sm-6 {
        width: calc(100% * 6 / 12);
    }

    .col-sm-7 {
        width: calc(100% * 7 / 12);
    }

    .col-sm-8 {
        width: calc(100% * 8 / 12);
    }

    .col-sm-9 {
        width: calc(100% * 9 / 12);
    }

    .col-sm-10 {
        width: calc(100% * 10 / 12);
    }

    .col-sm-11 {
        width: calc(100% * 11 / 12);
    }

    .col-sm-12 {
        width: calc(100% * 12 / 12);
    }

}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .container {
        width: 720px;
    }

    .col-md-1 {
        width: calc(100% * 1 / 12);
    }

    .col-md-2 {
        width: calc(100% * 2 / 12);
    }

    .col-md-3 {
        width: calc(100% * 3 / 12);
    }

    .col-md-4 {
        width: calc(100% * 4 / 12);
    }

    .col-md-5 {
        width: calc(100% * 5 / 12);
    }

    .col-md-6 {
        width: calc(100% * 6 / 12);
    }

    .col-md-7 {
        width: calc(100% * 7 / 12);
    }

    .col-md-8 {
        width: calc(100% * 8 / 12);
    }

    .col-md-9 {
        width: calc(100% * 9 / 12);
    }

    .col-md-10 {
        width: calc(100% * 10 / 12);
    }

    .col-md-11 {
        width: calc(100% * 11 / 12);
    }

    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        width: 960px;
    }


    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }

    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }

    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }

    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }

    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }

    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }

    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }

    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }

    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }

    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }

    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }

    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}

@media screen and (min-width: 1200px) {

    .container {
        width: 1140px;
    }

    .col-xl-1 {
        width: calc(100% * 1 / 12);
    }

    .col-xl-2 {
        width: calc(100% * 2 / 12);
    }

    .col-xl-3 {
        width: calc(100% * 3 / 12);
    }

    .col-xl-4 {
        width: calc(100% * 4 / 12);
    }

    .col-xl-5 {
        width: calc(100% * 5 / 12);
    }

    .col-xl-6 {
        width: calc(100% * 6 / 12);
    }

    .col-xl-7 {
        width: calc(100% * 7 / 12);
    }

    .col-xl-8 {
        width: calc(100% * 8 / 12);
    }

    .col-xl-9 {
        width: calc(100% * 9 / 12);
    }

    .col-xl-10 {
        width: calc(100% * 10 / 12);
    }

    .col-xl-11 {
        width: calc(100% * 11 / 12);
    }

    .col-xl-12 {
        width: calc(100% * 12 / 12);
    }
}