<!-- views/partials/3columns.ejs -->
<section name="content">
    <div class="container">
        <h2 class="text-center">Feature Story</h2>
        <div class="col-xs-12 col-md-4">
            <p>The Madison area is under consideration for a Foxconn development, separate 
               from the huge, $10 billion flat-screen display factory the company plans to 
               build in southeast Wisconsin, several sources with knowledge of the discussions 
               said.

               The Taiwanese manufacturer has asked for information about possible sites in 
               Dane County and a project proposal could take shape within the next six weeks, 
               one source said, adding that project plans are very fluid at this point. The 
               source said, though, a specific site will take longer to choose.
            </p>
        </div>
        <div class="col-xs-12 col-md-4">
            <p>Another source said Foxconn’s development here could involve a 
               health-related business, such as a wearable product, a medical device 
               or a research and development facility.

               The two sources asked not to be identified because of the sensitive nature 
               of the talks.

               Meanwhile, the Wisconsin State Journal has obtained a copy of an email sent 
               last week by a regional business group seeking available locations for an 
               unnamed company. The subject line was “Project Varsity Site Search.
            </p>
        </div>
        <div class="col-xs-12 col-md-4">
            <p>The company is looking for a 20-acre site in the Madison area on which it can 
                build a 700,000-square-foot manufacturing plant that could employ as many as 
                650 people over the first five years of operation, according to the July 26 
                email the Madison Region Economic Partnership (MadREP) sent to city, county, 
                UW-Madison and business officials around Dane County. July 26 was also the 
                day Foxconn’s Wisconsin project was announced in Washington, D.C.
            </p>
        </div>
    </div>
</section>