<%- include('header') %>

  <section>
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                <h1 class="danger">查無此記事</h1>
              </div>
          </div>
      </div>
  </section>

<%- include('footer') %>