* {
    box-sizing: border-box;
}

html,
body,
.navbar,
.navbar ul,
ul.navbar {
    padding: 0;
    margin: 0;
}

.navbar,
.navbar ul {
    list-style-type: none;
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    box-shadow: 1px 1px 5px black;
}


.navbar {
    justify-content: space-between;
}

.navbar>div {
    height: 50px;
    line-height: 50px;
}

.navbar li {
    height: 50px;
    line-height: 30px;
    padding: 10px;
    position: relative;
}

.navbar>ul {
    flex-direction: row;
}

.navbar li>ul {
    display: none;
}

.navbar li:hover {
    cursor: pointer;
    background-color: #333;
}

.navbar li:hover>ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

.navbar>ul>li {}

.navbar>ul>li:not(:last-child) {
    border-right: 2px solid #333;
}

header {
    height: 300px;
    background-image: url("https://picsum.photos/1000/400?image=1072");
    background-size: cover;
    display: flex;
    color: white;
    padding: 20px;
    text-align: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}