@import url("./grid.css");

.iphone {
    border: 3px solid black;
    width: 327px;
    height: 675px;
    background-image: url("./iphone.PNG");
    background-position-x: -39px;
    background-position-y: -15px;
    border-radius: 44px;
    position: relative;
}

.screen {
    border: 3px solid black;
    position: absolute;
    width: 290px;
    height: 507px;
    top: 80px;
    left: 15px;
}

.home {
    border: 3px solid black;
    position: absolute;
    width: 54px;
    height: 54px;
    top: 595px;
    left: 133px;
    border-radius: 50%;
}

i