@import "columns";
@import "container";
$total-columns:12;
.row {
    display: flex;
    flex-flow: row wrap;
}

@media (max-width: 575.98px) {
    @include make-container(100%);
    @include make-columns(xs, $total-columns);
}

@media (min-width: 576px) and (max-width: 767.98px) {
    @include make-container(540px);
    @include make-columns(sm, $total-columns);
}

@media (min-width: 768px) and (max-width: 991.98px) {
    @include make-container(720px);
    @include make-columns(md, $total-columns);
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    @include make-container(960px);
    @include make-columns(lg, $total-columns);
}

@media (min-width: 1200px) {
    @include make-container(1140px);
    @include make-columns(xl, $total-columns);
}